@model EmployeeManagement.Models.Employee
<html>

<head>

</head>
<body style="font-size:20px;">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <h3 class="text-center text-primary">New Employee</h3>
            <div class="col-md-6">
                <form asp-controller="Employee" asp-action="Create" method="post">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender"></label>
                        <select asp-for="Gender" style="font-size:20px;" class="form-select">
                            <option disabled selected>Please select</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>TransGender</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mobile"></label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Department"></label>
                        <select asp-for="Department" style="font-size:20px;" class="form-select">
                            <option disabled selected>Please Select</option>
                            <option>Development</option>
                            <option>HR</option>
                            <option>IT</option>
                            <option>Marketing</option>
                            <option>Testing</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status"></label>
                        <select asp-for="Status" style="font-size:20px;" class="form-select">
                            <option disabled selected>Please select</option>
                            <option>Active</option>
                            <option>Inactive</option>
                            <option>Disabled</option>
                        </select>
                    </div><br />
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                   </form>


            </div>
        </div>
    </div>
</body>
</html>